body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    background-color: grey;

}

header {
    background-image: -webkit-linear-gradient(to bottom, lightgrey 0%, purple 100%);
    background-image: -moz-linear-gradient(to bottom, lightgrey 0%, purple 100%);
    background-image: -o-linear-gradient(to bottom, lightgrey 0%, purple 100%);
    background-image: linear-gradient(to bottom, lightgrey 0%, purple 100%);
    padding-top: 1px;
    box-shadow: purple 0 10px 20px 10px;
}

header h1 {
    font-family: Lucida Handwriting, fantasy, monospace;
    padding-bottom: 10px;
    border-bottom: 1px solid purple;
    font-size: 230%;
    color: ghostwhite;
    text-align: center;
}

section h2 {
    padding-top: 10px;
    margin-left: 20.5%;
    font-family: Arial, sans-serif;
    font-size: 165%;
}

section img{
    float: left;
    padding-left: 5px;
    padding-right: 20px;
    margin-top: 5px;
}

section p {
    margin-top: 40px;
    text-align: center;
    font-size: 110%;
    padding-right: 30%;
}

section ul li {
    margin-left: 735px;
    padding-top: 5px;
    padding-bottom: 2px;
    font-size: 105%;
    font-family: Arial, Helvetica, serif;
    font-weight: bold;
}

#employsec {
    padding-top: 90px;
}

#edusec {
    padding-top: 70px;
}

#skillsec {
    padding-top: 70px;
}

#personsec {
    padding-top: 70px;
}

#aside2 {
    float: right;
    background-color: grey;
    margin-top: -7.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic
}

aside {
    float: left;
    font-size:  150%;
    margin-top: 55px;
    margin-right: 75px;
    margin-left: 75px;
    padding-right: 35px;
    border: 2px solid black;
    font-family: Arial, Helvetica, serif;
    background-color: mediumpurple;
    width: 195px;
    box-shadow: 0 10px 20px 10px
    
}

aside ul li {
    padding-top: 5px;
    padding-bottom: 4px;
}

aside a:hover, aside a:focus {
    color: violet;
}

footer {
    clear: both;
    text-align: center;
    padding-top: 25%;
}

#skillpic {
    margin-top: 70px;
    padding-left: 5px;
    padding-right: 20px;
}

#workpic {
    margin-top: 70px;
    padding-left: 5px;
    padding-right: 20px;
}

#waverlypic {
    margin-top: 65px;
    padding-left: 5px;
    padding-right: 20px;
}